<!DOCTYPE html>
<html>
<head>

<title>Admin</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="page">

<div class="page-content">

<h1 class="page-title">
Admin Panel
</h1>

<div class="table-wrap">

<table class="data-table">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Interest</th>
</tr>

{% for user in users %}

<tr>

<td>{{ user.id }}</td>
<td>{{ user.name }}</td>
<td>{{ user.email }}</td>
<td>{{ user.interest }}</td>

</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>