<!DOCTYPE html>
<html>
<head>

    <title>AI Learning System</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="centered-page">

<div class="orb"></div>
<div class="orb orb-top-right"></div>

<div class="content">

    <div class="icon-box">
        📘
    </div>

    <div class="text-group">

        <h1>
            AI Learning Recommendation System
        </h1>

        <p>
            Personalized AI-powered learning platform
            for MCA students.
        </p>

    </div>

    <div class="actions">

        <a href="/register"
        class="btn btn-primary">

            Register

        </a>

        <a href="/login"
        class="btn btn-outline">

            Login

        </a>

    </div>

</div>

</body>
</html>