<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>

<h1>Quiz</h1>

<form action="/submit_quiz" method="POST">

{% for q in questions %}

<div style="margin-bottom:30px;">

    <h3>{{ loop.index }}. {{ q.question }}</h3>

    {% for option in q.options %}

    <input
        type="radio"
        name="q{{ loop.parent.index0 }}"
        value="{{ option }}"
        required
    >

    {{ option }}

    <br>

    {% endfor %}

</div>

{% endfor %}

<button type="submit">
    Submit Quiz
</button>

</form>

</body>
</html>
